$dark-blue: #274156;
$light-blue: #71A9F7;
$almost-white: #F2F2F2;
$bright-red: #EF522B;
$light-yellow: #F6D8AE;
$light-orange: #F79820;

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: all 500ms ease-in;
}

body {
    font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: $light-yellow;

    .middle-box {
        width: 80%;
        margin: 2em auto;
    }

    .MuiCardActions-root {
        padding: 0;
    }

    .MuiSvgIcon-root {
        margin-right: 0.7em;
    }

    .MuiPaper-elevation4 {
        box-shadow: none;
    }

    .MuiButton-root {
        border-radius: 0;
        padding: 16px;
    }

    .MuiButton-containedSecondary {
        color: #fff;
        margin: 0 0 2em 0;
        box-shadow: none;
        background-color: #71A9F7;
    }

    .MuiButton-containedSecondary:hover {
        background-color: $dark-blue;
    }

    .MuiButton-contained:active {
        box-shadow: none;
    }

    .addBook .MuiCollapse-wrapper {
        background-color: $almost-white;
        margin-bottom: 2em;
    }

    .addBook .MuiFormControl-root {
        width: 100%;
        margin-bottom: 1.2em;
    }

    .addBook .MuiFormLabel-root {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        color: $light-blue;
    }

    .addBook .MuiFormLabel-root.Mui-focused {
        color: $bright-red;
    }

    .addBook .MuiInput-underline:after {
        border-bottom: 2px solid $bright-red;
    }

    .addBook .MuiInputBase-input {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        color: $dark-blue;
    }

    .addBook .MuiInput-underline:before {
        border-bottom: 1px solid $dark-blue;
    }

    .addBook .MuiInput-underline:hover:not(Mui-disabled):before {
        border-bottom: 2px solid $dark-blue;
    }

    .addBook .MuiButton-containedSecondary {
        margin: 2em 1em 0 0;
        background-color: $bright-red;
    }

    .addBook .MuiButton-containedSecondary:hover {
        background-color: $dark-blue;
    }

    .addBook .resetBook.MuiButton-containedSecondary {
        background-color: $light-orange;
    }

    .addBook .resetBook.MuiButton-containedSecondary:hover {
        background-color: $dark-blue;
    }

    .addBook .MuiTypography-gutterBottom {
        margin-top: 0.35em;
    }

    .addBook .MuiTypography-body1 {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        color: $light-blue;
    }

    .addBook .MuiSlider-root {
        color: $dark-blue;
        width: 90%;
    }

    .addBook {
        .MuiCardContent-root {
            padding: 24px;
        }

        .MuiSlider-root:hover {
            color: $bright-red;
        }

        .MuiTypography-body1 {
            line-height: 3;
        }

        .rate-style {
            margin: 10;
            color: '#fff';
            background-color: $bright-red;
            font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 16px;
            font-style: italic;
            margin: 10px;
        }

        .flex-start {
            justify-content: flex-start;
        }
    }

    .description {
        width: 190px;
        height: 280px;
        background-color: $dark-blue;
        position: absolute;
        top: 0px;
        z-index: 20000;
        padding: 15px;
        box-sizing: border-box;
        line-height: 1.5;
        color: white;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transition: all 500ms ease-in;
    }

    .button-rate {
        position: absolute; 
        top: 220px;
        right: 0; 
        padding: 0; 
        transition: all 500ms ease-in;

        .MuiTouchRipple-root {
            border-radius: 30px;
        }
    }

    .button-rate.MuiButton-root:hover {
        border-radius: 30px;
    }

    .darkblue {
        color: $dark-blue;
    }

    .red {
        color: $bright-red;
    }

    .wrap {
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        -ms-box-orient: horizontal;
        display: -moz-flex;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .wrap.justify {
        justify-content: space-between;
    }

    .editBook {
        .MuiFormControl-root {
            width: 100%;
            margin-bottom: 1.2em;
        }

        .MuiFormLabel-root, .MuiTypography-body1 {
            font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
            color: $light-blue;
        }

        .MuiSlider-root {
            font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
            color: $dark-blue;
        }

        .MuiInputBase-root {
            font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
        }

        .MuiSlider-root {
            width: 88%;
        }

        .MuiSlider-root:hover {
            color: $bright-red;
        }

        .flex-start {
            justify-content: flex-start;
        }

        .rate-style {
            margin: 10;
            color: '#fff';
            background-color: $bright-red;
            font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 16px;
            font-style: italic;
            margin: 10px;
        }
    }

    .editBookWindow {
        .MuiTypography-body1 {
            line-height: 3;
        }

        .MuiFormLabel-root.Mui-focused {
            color: $bright-red;
        }

        .MuiInput-underline:after {
            border-bottom: 2px solid $bright-red;
        }

        .MuiInput-underline:hover:not(Mui-disabled):before {
            border-bottom: 2px solid $dark-blue;
        }

        .MuiPaper-rounded {
            border-radius: 0px;
        }

        .MuiDialogTitle-root {
            background-color: $light-blue;
            color: white;
        }

        .deleteBtn.MuiDialogTitle-root {
            background-color: $bright-red;
        }

        .MuiTypography-h6 {
            font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
            font-weight: 800;
        }

        .MuiButton-containedSecondary {
            color: $almost-white;
            margin: 0 0 0 1em;
            background-color: $bright-red;
        }

        .MuiButton-containedSecondary.cancelButton {
            background-color: $light-orange;
        }

        .MuiButton-containedSecondary:hover {
            background-color: $dark-blue;
        }

        .MuiDialogActions-root, .MuiCardContent-root {
            padding: 24px;
        }
    }

    .one-book {
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
        background-color: white;
        margin: 0 5px 10px 5px;
        width: 190px;

        .author-style {
            color: $dark-blue;
            padding: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .title-style {
            color: $light-blue;
            font-weight: 700;
            padding: 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .rate-style {
            margin: 10;
            color: '#fff';
            background-color: $bright-red;
            font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 16px;
            font-style: italic;
            margin: 10px;
            transition: all 250ms ease-in;
        }

        .rate-style:hover {
            background-color: $light-orange;
            transition: all 250ms ease-in;
        }

        .MuiSvgIcon-root {
            margin-right: 0;
        }

        .MuiButton-root {
            min-width: 30px;
        }

        .MuiButton-root:hover {
            transition: all 250ms ease-in;
        }

        .MuiButton-root {
            transition: all 250ms ease-in;
        }

    }

    .navbar .MuiAppBar-colorPrimary {
        background-color: $dark-blue;
        color: $almost-white;
        flex-grow: 1;
    }

    .navbar .logo {
        color: $bright-red;
    }

    .MuiButton-root {
        font-family: 'Raleway', "Droid Sans", "Helvetica Neue", sans-serif;
    }

    .MuiTypography-h6 {
        font-size: 2.35rem;
    }

    .logo {
        font-family: 'Barriecito', cursive;
        flex-grow: 1;
    }
}